{% extends "base.html" %}

{% block content %}
<div id="cart">
    <div class="panel">
        <div class="panel-heading">
            <h3>Your Shopping Cart</h3>
        </div>
        {% if products %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-7 col-offset-2">
                        <h4>Product</h4>
                    </div>
                    <div class="col-lg-1 text-right">
                        <h4>Count</h4>
                    </div>
                    <div class="col-lg-1 text-right">
                        <h4>Price</h4>
                    </div>
                </div>
            </li>
            {% for p in products %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-2 text-center">
                        <img class="product-image" src="{{ p.product.image_url }}"/>
                    </div>
                    <div class="col-lg-7">
                        <h4>{{ p.product.name }}</h4>
                        <p>{{ p.product.description }}</p>
                    </div>
                    <div class="col-lg-1 text-right">
                        <input type="text" class="form-control count-input" value="{{ p.count }}" placeholder="Quantity" data-price="{{ p.product.price }}">
                        <button class="btn btn-primary update-product" data-id="{{ p.product.id }}">Update</button>
                    </div>
                    <div class="col-lg-1 text-right">
                        <h4>${{ p.product.price|floatformat:"2" }}</h4>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-danger delete-product" data-id="{{ p.product.id }}">Delete</button>
                    </div>
                </div>
            </li>
            {% endfor %}
            <li class="list-group-item order-footer">
                <div class="col-lg-11 text-right">
                    <h4>Total:&nbsp;&nbsp;$<span id="total-price">{{ total_price|floatformat:"2" }}</span></h4>
                </div>
                <div class="col-lg-1">
                    <form method="post" action="{% url 'checkout' %}">{% csrf_token %}
                        <button type="submit" class="btn btn-success">Checkout</button>
                    </form>
                </div>
            </li>
        </ul>
        {% else %}
        Your cart is empty.
        {% endif %}
    </div>
</div>
{% endblock %}