{% extends "base.html" %}

{% block content %}
<div id="cart">
    <div class="panel">
        <div class="panel-heading">
            <h3>Your Shopping Cart</h3>
        </div>
        {% if products %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-7 col-offset-2">
                        <h4>Product</h4>
                    </div>
                    <div class="col-lg-1">
                        <h4>Count</h4>
                    </div>
                    <div class="col-lg-1">
                        <h4>Price</h4>
                    </div>
                </div>
            </li>
            {% for p in products %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-2 text-center">
                        <img class="product-image" src="{{ p.product.image_url }}"/>
                    </div>
                    <div class="col-lg-7">
                        <h4>{{ p.product.name }}</h4>
                        <p>{{ p.product.description }}</p>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control count-input" value="{{ p.count }}" placeholder="Quantity" data-price="{{ p.product.price }}">
                        <button class="btn btn-primary update-product" data-id="{{ p.product.id }}">Update</button>
                    </div>
                    <div class="col-lg-1 text-right">
                        <h4>${{ p.product.price|floatformat:"2" }}</h4>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-danger delete-product" data-id="{{ p.product.id }}">Delete</button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="panel-footer">
            <div class="col-lg-1 col-offset-9">
                <h4>Total: </h4>
            </div>
            <div class="col-lg-1 text-right">
                <h4>$<span id="total-price">{{ total_price }}</span></h4>
            </div>
        </div>
        {% else %}
        Your cart is empty.
        {% endif %}
    </div>
</div>
{% endblock %}