{% extends "base.html" %}

{% block content %}
<div id="products">
    <div class="panel col-lg-3" id="added-product">
        <a href="{% url 'cart' %}">
            <div class="col-lg-4 text-center">
                <img>
            </div>
            <div class="col-lg-8">
                <b>Added:</b>
                <p></p>
            </div>
        </a>
    </div>
    <div class="row">
    {% for p in products %}
        <div class="col-lg-4 text-center panel product-display {% if user.is_authenticated and p.in_stock %}addable{% endif %}">
            <div class="panel-heading">
                <h4>{{ p.name }} - {% if p.in_stock %}<span class="in-stock">{{ p.quantity }}</span> in stock{% else %}out of stock{% endif %} - <b>${{ p.price|floatformat:"2" }}</b></h4>
            </div>
            <button type="button" class="btn btn-primary" data-id="{{ p.id }}" data-name="{{ p.name }}" data-image="{{ p.image_url }}">Add to cart</button>
            <img class="product-image" src="{{ p.image_url }}"/>
            <div>{{ p.description }}</div>
        </div>
    {% empty %}
        <div class="jumbotron">
            <h2>There are no products yet.</h2>
            <p>When there are products you will see them here!</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}